
.carousel-inner{
  height: 440px;
}

.clear{
  clear: both;
}

.alert{
  width: 75%;
  margin: 20px 0 25px 60px;
}

.element-header{
  margin: 20px 0 25px 60px;
  padding: 0 20px 10px 50px;
  text-align: center;
  color: white;
  border: solid 1px;
  border-radius: 8px;
  background-color: #4080bf;
  width: 75%;
}

#enunciado{
  width: 75%;
  margin: 40px 0 25px 60px;
  border: solid 1px;
  border-radius: 8px;
  padding: 0 0 20px 30px
}

#carousel-example-generic{
  width: 720px;
  height: 440px;
  margin-left: 13%;
}

#buttons{
  margin-left: 60px;
}

#container{
  padding-left: 11%;
}
